.puzzle {
  display: grid;
  width: 80vw;  
  height: 80vw;  
  max-width: 400px;
  max-height: 400px;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  border: 2px solid #00acc1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 10px;
  gap: 4px; 
  margin-left: auto;
  margin-right: auto;

}

.puzzle-piece {
  width: auto; /* Let the grid control the width */
  height: auto; /* Let the grid control the height */
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
  object-fit: cover; /* Make the image fit nicely in the box */
}

/* Remove the right margin from the last piece in each row */
.puzzle-piece:nth-child(4n) {
  margin-right: 0;
}

/* Remove the bottom margin from the last row of pieces */
.puzzle-piece:nth-last-child(-n+4) {
  margin-bottom: 0;
}
