table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: sans-serif;
  background-color: white;
  border: 2px solid gray;
}

thead th {
  background-color: black;
  color: pink;
  padding: 10px;
  text-align: left;
  border-bottom: 3px solid pink;
}

tbody tr {
  border-bottom: 1px solid gray;
}

tbody tr:last-child {
  border-bottom: 3px solid black;
}

tbody td {
  padding: 8px;
  color: black;
}

tbody tr:hover {
  background-color: lightgray;
}
